.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

.img-jumbotron {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}
